<footer data-scroll>
    <div class="footer__one">
        <span>Say Hello, I won't bite... 🤗</span>
        <div class="contact__mail">
            <a href="mailto:{{ site.socials.email }}">{{ site.socials.email }}</a>
        </div>
    </div>
   
    <div class="footer__two anim">
        © {{ "now" | date: "%Y" }} -<br /> ALL RIGHTS RESERVED.
        <ul>
        {% for item in site.socials %}
        {%- comment -%}Exclude figma and email{%- endcomment -%}
        {% if item[0] == 'figma' %}
        {% continue %}
        {% endif %}

        {% if item[0] == 'email' %}
        {% continue %}
        {% endif %}
            <li>
                <a href="{{ item[1] }}">{{ item[0] }}</a>   
            </li>
        {% endfor %}
        </ul>
    </div>
</footer>

<style>
    footer{
        overflow: hidden;
        margin: 14vh 10px 40px;
        padding-bottom: 2rem;
    }
    .footer__one{
        text-align: center;
    }
    footer .contact__mail{
        font-family: 'MonumentExtended-Regular';
        font-size: 5vw;
    }
    footer .footer__two{
        /* min-height: 60px; */
        height: auto;
        padding-top: 120px;
        display: flex;
        flex-direction: column;
        transform: translateY(100%);
        transition: all 2s cubic-bezier(0.79, 0.31, 0, 0.93);
    }
    footer ul{
        margin-top: 1rem;
    }
    @media screen and (min-width: 900px){
        footer .footer__two{
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }
        footer ul{
            margin-top: 0;
        }
    }
    footer li{
        text-transform: uppercase;
    }
</style>